<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django API Authentication System</title>
</head>
<body>
    <h1>Project Title: Django API Authentication System</h1>

    <h2>Overview:</h2>
    <p>
        The Django API Authentication System is a project designed for showcasing proficiency in building secure and efficient authentication systems using Django
    </p>
    <p>
        particularly focusing on the implementation of APIs. This project is purely intended as a demonstration piece for inclusion in a resume portfolio, not for commercial use or sale.
    </p>

    <h2>Features:</h2>
    <ol>
        <li><strong>API Authentication:</strong> The system implements various authentication methods, including username/password, token-based authentication, and OTP-based authentication.</li>
        <li><strong>Token Management:</strong> Users are provided with tokens upon successful authentication, which are then used for subsequent API requests to maintain session state.</li>
        <li><strong>OTP Verification:</strong> The project includes OTP verification as an additional layer of security, ensuring secure user authentication.</li>
        <li><strong>User Management:</strong> Basic CRUD (Create, Read, Update, Delete) operations for user accounts are implemented through API endpoints.</li>
        <li><strong>Session Management:</strong> The system efficiently manages user sessions and ensures proper session handling to maintain security and integrity.</li>
    </ol>
    <h2>Endpoints</h2>
    <ol>
        <li><h3><a href="{% url "swagger" %}">Swagger Schema</a></h3></li>
{#        <li><strong>Token Management:</strong> Users are provided with tokens upon successful authentication, which are then used for subsequent API requests to maintain session state.</li>#}
{#        <li><strong>OTP Verification:</strong> The project includes OTP verification as an additional layer of security, ensuring secure user authentication.</li>#}
{#        <li><strong>User Management:</strong> Basic CRUD (Create, Read, Update, Delete) operations for user accounts are implemented through API endpoints.</li>#}
{#        <li><strong>Session Management:</strong> The system efficiently manages user sessions and ensures proper session handling to maintain security and integrity.</li>#}
    </ol>
</body>
</html>
